## Q1: scrape data for “Data Scientist” designation for first 10 job results.

In [7]:
!pip install selenium

Requirement already satisfied: selenium in /Users/pratikajain/anaconda3/lib/python3.10/site-packages (4.17.2)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in /Users/pratikajain/anaconda3/lib/python3.10/site-packages (from selenium) (1.26.14)
Requirement already satisfied: typing_extensions>=4.9.0 in /Users/pratikajain/anaconda3/lib/python3.10/site-packages (from selenium) (4.9.0)
Requirement already satisfied: trio-websocket~=0.9 in /Users/pratikajain/anaconda3/lib/python3.10/site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in /Users/pratikajain/anaconda3/lib/python3.10/site-packages (from selenium) (2022.12.7)
Requirement already satisfied: trio~=0.17 in /Users/pratikajain/anaconda3/lib/python3.10/site-packages (from selenium) (0.24.0)
Requirement already satisfied: idna in /Users/pratikajain/anaconda3/lib/python3.10/site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: attrs>=20.1.0 in /Users/pratikajain/anaconda3/lib/python3.10/site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sniffio>=1.3.0 in /Users/pratikajain/anaconda3/lib/python3.10/site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: exceptiongroup in /Users/pratikajain/anaconda3/lib/python3.10/site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: outcome in /Users/pratikajain/anaconda3/lib/python3.10/site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sortedcontainers in /Users/pratikajain/anaconda3/lib/python3.10/site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: wsproto>=0.14 in /Users/pratikajain/anaconda3/lib/python3.10/site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in /Users/pratikajain/anaconda3/lib/python3.10/site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in /Users/pratikajain/anaconda3/lib/python3.10/site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [8]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [9]:
driver = webdriver.Chrome()

In [10]:
driver.get("https://www.naukri.com/")

In [11]:
designation = driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Scientist')

In [12]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[6]")
search.click()

In [14]:
loc_filter=driver.find_element(By.XPATH,"/html/body/div/div/main/div[1]/div[1]/div/div/div[2]/div[3]/div[2]/div[2]/label/i")
loc_filter.click()

In [15]:
salary_filter=driver.find_element(By.XPATH,"/html/body/div/div/main/div[1]/div[1]/div/div/div[2]/div[2]/div[2]/div[2]/label/i")
salary_filter.click()

In [32]:
job_title=[]
job_Locations=[]
company_name=[]
experience_required=[]

In [34]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title "]')
for i in title_tags:
    title=i.text
    job_title.append(title)
    
job_title= job_title[:10]

In [35]:
job_title

['Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Engineer',
 'Data Scientist - I',
 'Data Scientist',
 'Data Scientist']

In [36]:
locations=driver.find_elements(By.XPATH,'//span[@class="ni-job-tuple-icon ni-job-tuple-icon-srp-location loc"]')
for i in locations:
    location =i.text
    job_Locations.append(location)
                            
job_Locations=job_Locations[:10]

In [37]:
job_Locations

['Kolkata, Mumbai, New Delhi, Hyderabad, Pune, Chennai, Bengaluru',
 'New Delhi, Gurgaon/Gurugram',
 'Gurugram',
 'Noida, Hyderabad/Secunderabad, Gurgaon/Gurugram',
 'Noida',
 'Noida',
 'Kolkata, Mumbai, New Delhi, Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Gurugram',
 'Gurugram',
 'Kolkata, Mumbai, New Delhi, Hyderabad, Pune, Chennai, Bengaluru']

In [38]:
company_tags=driver.find_elements(By.XPATH,'//span[@class=" comp-dtls-wrap"]')
for i in company_tags:
    company=i.text
    company_name.append(company)
                                
company_name=company_name[:10]

company_name

['Monnai',
 '4.0',
 'Collegedunia\n3.0\n502 Reviews',
 'Foreign MNC in Healthcare\n4.0',
 'Tiketcom\n3.6\n13 Reviews',
 'Innovaccer\n3.0\n301 Reviews',
 'Big 4 Consulting Firm\n3.5',
 'Netomi\n4.0\n2 Reviews',
 'Birdeye Australia\n3.7\n84 Reviews',
 'Futurism Technologies\n3.6\n68 Reviews']

In [39]:
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ni-job-tuple-icon ni-job-tuple-icon-srp-experience exp"]')
for i in experience_tags:
    experience=i.text
    experience_required.append(experience)
                            
experience_required=experience_required[:10]
experience_required

['3-7 Yrs',
 '1-6 Yrs',
 '0-2 Yrs',
 '1-6 Yrs',
 '3-7 Yrs',
 '2-7 Yrs',
 '4-6 Yrs',
 '3-6 Yrs',
 '1-2 Yrs',
 '2-4 Yrs']

In [40]:
df = pd.DataFrame({"Job Title":job_title,"Location":job_Locations,"Company name":company_name,"Experience required":experience_required})
df

,Job Title,Location,Company name,Experience required
0,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Monnai,3-7 Yrs
1,Data Scientist,"New Delhi, Gurgaon/Gurugram",4.0,1-6 Yrs
2,Data Scientist,Gurugram,Collegedunia\n3.0\n502 Reviews,0-2 Yrs
3,Data Scientist,"Noida, Hyderabad/Secunderabad, Gurgaon/Gurugram",Foreign MNC in Healthcare\n4.0,1-6 Yrs
4,Data Scientist,Noida,Tiketcom\n3.6\n13 Reviews,3-7 Yrs
5,Data Scientist,Noida,Innovaccer\n3.0\n301 Reviews,2-7 Yrs
6,Data Engineer,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Big 4 Consulting Firm\n3.5,4-6 Yrs
7,Data Scientist - I,Gurugram,Netomi\n4.0\n2 Reviews,3-6 Yrs
8,Data Scientist,Gurugram,Birdeye Australia\n3.7\n84 Reviews,1-2 Yrs
9,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Futurism Technologies\n3.6\n68 Reviews,2-4 Yrs

## Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore”location from shine.com. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [41]:
!pip install selenium
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

Requirement already satisfied: selenium in /Users/pratikajain/anaconda3/lib/python3.10/site-packages (4.17.2)
Requirement already satisfied: trio~=0.17 in /Users/pratikajain/anaconda3/lib/python3.10/site-packages (from selenium) (0.24.0)
Requirement already satisfied: trio-websocket~=0.9 in /Users/pratikajain/anaconda3/lib/python3.10/site-packages (from selenium) (0.11.1)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in /Users/pratikajain/anaconda3/lib/python3.10/site-packages (from selenium) (1.26.14)
Requirement already satisfied: certifi>=2021.10.8 in /Users/pratikajain/anaconda3/lib/python3.10/site-packages (from selenium) (2022.12.7)
Requirement already satisfied: typing_extensions>=4.9.0 in /Users/pratikajain/anaconda3/lib/python3.10/site-packages (from selenium) (4.9.0)
Requirement already satisfied: attrs>=20.1.0 in /Users/pratikajain/anaconda3/lib/python3.10/site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: idna in /Users/pratikajain/anaconda3/lib/python3.10/site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: sniffio>=1.3.0 in /Users/pratikajain/anaconda3/lib/python3.10/site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: outcome in /Users/pratikajain/anaconda3/lib/python3.10/site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sortedcontainers in /Users/pratikajain/anaconda3/lib/python3.10/site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: exceptiongroup in /Users/pratikajain/anaconda3/lib/python3.10/site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: wsproto>=0.14 in /Users/pratikajain/anaconda3/lib/python3.10/site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in /Users/pratikajain/anaconda3/lib/python3.10/site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in /Users/pratikajain/anaconda3/lib/python3.10/site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [43]:
driver = webdriver.Chrome()

In [46]:
driver.get("https://www.shine.com/")

In [47]:
designation = driver.find_element(By.CLASS_NAME,"input")
designation.send_keys('Data Scientist')

In [49]:
search=driver.find_element(By.XPATH,"/html/body/div/header/div[3]/div/div/div[1]/div/span")
search.click()

In [50]:
designation = driver.find_element(By.CLASS_NAME,"form-control")
designation.send_keys('Data Scientist')
location =driver.find_element(By.ID,"id_loc")
location.send_keys('Bangalore')

In [51]:
search=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
search.click()

In [52]:
job_title=[]
job_locations=[]
company_name=[]
experience_required=[]

In [55]:
title_tags=driver.find_elements(By.XPATH,'//strong[@class="jobCard_pReplaceH2__xWmHg"]')
for i in title_tags:
    title=i.text
    job_title.append(title)
    
job_title= job_title[:10]

locations=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in locations:
    location =i.text
    job_locations.append(location)
                            
job_locations=job_locations[:10]

In [53]:


company_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]//span')
for i in company_tags:
    company=i.text
    company_name.append(company)
                                
company_name=company_name[:10]

experience_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience_tags:
    experience=i.text
    experience_required.append(experience)
                            
experience_required=experience_required[:10]

In [56]:
print(len(job_title),len(job_locations),len(company_name),len(experience_required))

10 10 10 10

In [57]:
df = pd.DataFrame({"Job Title":job_title,"Location":job_locations,"Company name":company_name,"Experience required":experience_required})
df

,Job Title,Location,Company name,Experience required
0,Data Scientist In SINGAPORE,Bangalore\n+1,adal immigrations llp,3 to 8 Yrs
1,Data Scientist,Bangalore\n+6,techno endura,0 to 2 Yrs
2,Lead Data Scientist,Bangalore\n+8,spento papers (india) llp,12 to 22 Yrs
3,Data Scientist,Bangalore\n+9,future solution centre,2 to 7 Yrs
4,Data Scientist,Bangalore\n+2,the christopher's consulting and re...,0 to 2 Yrs
5,Data Scientist,Bangalore,eliterecruitments hiring for global...,4 to 8 Yrs
6,Data Scientist,Bangalore\n+9,divya staffing solution,0 to 4 Yrs
7,Data Science Analytics,Bangalore\n+7,mackenzie modern it solutions priva...,5 to 8 Yrs
8,Data Science Manager,Bangalore\n+7,mackenzie modern it solutions priva...,3 to 8 Yrs
9,Data Analyst,Bangalore\n+4,aryan technology,0 to 4 Yrs

## Q3: Scrape 100 reviews data from flipkart.com for iphone11 phone

In [59]:
!pip install selenium
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

Requirement already satisfied: selenium in /Users/pratikajain/anaconda3/lib/python3.10/site-packages (4.17.2)
Requirement already satisfied: trio-websocket~=0.9 in /Users/pratikajain/anaconda3/lib/python3.10/site-packages (from selenium) (0.11.1)
Requirement already satisfied: trio~=0.17 in /Users/pratikajain/anaconda3/lib/python3.10/site-packages (from selenium) (0.24.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in /Users/pratikajain/anaconda3/lib/python3.10/site-packages (from selenium) (1.26.14)
Requirement already satisfied: certifi>=2021.10.8 in /Users/pratikajain/anaconda3/lib/python3.10/site-packages (from selenium) (2022.12.7)
Requirement already satisfied: typing_extensions>=4.9.0 in /Users/pratikajain/anaconda3/lib/python3.10/site-packages (from selenium) (4.9.0)
Requirement already satisfied: outcome in /Users/pratikajain/anaconda3/lib/python3.10/site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: exceptiongroup in /Users/pratikajain/anaconda3/lib/python3.10/site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=20.1.0 in /Users/pratikajain/anaconda3/lib/python3.10/site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sniffio>=1.3.0 in /Users/pratikajain/anaconda3/lib/python3.10/site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: sortedcontainers in /Users/pratikajain/anaconda3/lib/python3.10/site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in /Users/pratikajain/anaconda3/lib/python3.10/site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: wsproto>=0.14 in /Users/pratikajain/anaconda3/lib/python3.10/site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in /Users/pratikajain/anaconda3/lib/python3.10/site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in /Users/pratikajain/anaconda3/lib/python3.10/site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [61]:
driver = webdriver.Chrome()

In [62]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market")

In [63]:
Ratings=[]
Review_summary=[]
Full_review=[]

In [67]:
start=0
end=10
for page in range(start,end):
    
    rating_tag=driver.find_elements(By.XPATH,'//div[@class="XQDdHH Ga3i8K"]')
    for i in rating_tag:
        rating=i.text
        Ratings.append(rating)

    Review_tag=driver.find_elements(By.XPATH,'//p[@class="z9E0IG"]')
    for i in Review_tag:
        Review =i.text
        Review_summary.append(Review)
                            
    Full_rev_tag=driver.find_elements(By.XPATH,'//div[@class="ZmyHeo"]//div//div')
    for i in Full_rev_tag:
        rev=i.text
        Full_review.append(rev)
        
    next_button=driver.find_element(By.XPATH,'//a[@class="_9QVEpD"]//span')
    next_button.click()
    time.sleep(3)

In [68]:
print(len(Ratings),len(Review_summary),len(Full_review))

100 100 100

In [69]:
df=pd.DataFrame({"Ratings":Ratings,"Review Summary":Review_summary,"Full Review":Full_review})
df

,Ratings,Review Summary,Full Review
0,5,Terrific,Very very good
1,5,Classy product,Camera is awesome\nBest battery backup\nA perf...
2,5,Best in the market!,Good Camera
3,5,Terrific purchase,Value for money 😍
4,5,Worth every penny,Feeling awesome after getting the delivery of ...
...,...,...,...
95,5,Fabulous!,It’s very good battery life and display and vi...
96,5,Brilliant,very good camera quality
97,5,Terrific purchase,Value for money 🖤🖤
98,5,Super!,Good product 👌I love iPhone
99,5,Simply awesome,Really satisfied with the Product I received.....

## Q4: Scrape data forfirst 100 sneakers you find whenyouvisitflipkart.com and search for “sneakers” inthe search field.

In [70]:
!pip install selenium
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

Requirement already satisfied: selenium in /Users/pratikajain/anaconda3/lib/python3.10/site-packages (4.17.2)
Requirement already satisfied: certifi>=2021.10.8 in /Users/pratikajain/anaconda3/lib/python3.10/site-packages (from selenium) (2022.12.7)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in /Users/pratikajain/anaconda3/lib/python3.10/site-packages (from selenium) (1.26.14)
Requirement already satisfied: trio-websocket~=0.9 in /Users/pratikajain/anaconda3/lib/python3.10/site-packages (from selenium) (0.11.1)
Requirement already satisfied: trio~=0.17 in /Users/pratikajain/anaconda3/lib/python3.10/site-packages (from selenium) (0.24.0)
Requirement already satisfied: typing_extensions>=4.9.0 in /Users/pratikajain/anaconda3/lib/python3.10/site-packages (from selenium) (4.9.0)
Requirement already satisfied: sniffio>=1.3.0 in /Users/pratikajain/anaconda3/lib/python3.10/site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: exceptiongroup in /Users/pratikajain/anaconda3/lib/python3.10/site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in /Users/pratikajain/anaconda3/lib/python3.10/site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in /Users/pratikajain/anaconda3/lib/python3.10/site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in /Users/pratikajain/anaconda3/lib/python3.10/site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: attrs>=20.1.0 in /Users/pratikajain/anaconda3/lib/python3.10/site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: wsproto>=0.14 in /Users/pratikajain/anaconda3/lib/python3.10/site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in /Users/pratikajain/anaconda3/lib/python3.10/site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in /Users/pratikajain/anaconda3/lib/python3.10/site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [71]:
driver = webdriver.Chrome()

In [72]:
driver.get("https://www.flipkart.com/")

In [73]:
Product = driver.find_element(By.CLASS_NAME,"Pke_EE")
Product.send_keys('Sneakers')

In [74]:
Brands =[]
Products_description=[]
Prices=[]

In [76]:
start=0
end=3
for page in range(start,end):
    Brand_name=driver.find_elements(By.XPATH,'//div[@class="syl9yP"]')
    for i in Brand_name:
        Brand=i.text
        Brands.append(Brand)

    Description=driver.find_elements(By.XPATH,'//a[@class="WKTcLC BwBZTg"]')
    for i in Description:
        Product_description =i.text
        Products_description.append(Product_description)
                            
    prices_tag=driver.find_elements(By.XPATH,'//div[@class="Nx9bqj"]')
    for i in prices_tag:
        price=i.text
        Prices.append(price)
        
    next_button=driver.find_element(By.XPATH,'//a[@class="_9QVEpD"]//span')
    next_button.click()
    time.sleep(3)

In [77]:
print(len(Brands),len(Products_description),len(Prices))

120 56 120

In [81]:
Brands

['Aeonik',
 'Aeonik',
 'PUMA',
 'PUMA',
 'HOTSTYLE',
 'corsac',
 'PUMA',
 'asian',
 'HERE&NOW',
 'Red Tape',
 'tigonis',
 'Nobelite',
 'CAMPUS',
 'PUMA',
 'Roadster',
 'PUMA',
 'Aeonik',
 "K' Footlance",
 'Red Tape',
 'Roadster',
 "K' Footlance",
 'Xtoon',
 'CAMPUS',
 'Red Tape',
 'CAMPUS',
 'PUMA',
 'Shozie',
 'AMICO',
 'Skechers',
 'Roadster',
 'Xtoon',
 'Red Tape',
 'PUMA',
 'CAMPUS',
 'G WALK',
 'HRX by Hrithik Roshan',
 'PUMA',
 'CAMPUS',
 'Karsun',
 'CAMPUS',
 'CLYMB',
 'FREEMO',
 'CAMPUS',
 'PUMA',
 'jootiyapa',
 'asian',
 'Xtoon',
 'Xtoon',
 'Red Tape',
 'CAMPUS',
 'Deals4you',
 'Deals4you',
 'DRACKFOOT',
 'Red Tape',
 'Sparx',
 'U.S. POLO ASSN.',
 'VENDOZ',
 'Xtoon',
 'Adeboy',
 'Abros',
 'Deals4you',
 'BIRDE',
 'Skechers',
 'Sparx',
 'Pathar',
 'PUMA',
 'Shozie',
 'ATOM',
 'asian',
 'CAMPUS',
 'Shozie',
 'Shozie',
 'AMFEET',
 'U.S. POLO ASSN.',
 'FILA',
 'bacca bucci',
 'Shozie',
 'believe',
 'AMFEET',
 'PUMA',
 'Aeonik',
 'Aeonik',
 'PUMA',
 'PUMA',
 'HOTSTYLE',
 'corsac',
 'PUMA',
 'asian',
 'HERE&NOW',
 'Red Tape',
 'tigonis',
 'Aeonik',
 'CAMPUS',
 'PUMA',
 'Roadster',
 'PUMA',
 "K' Footlance",
 "K' Footlance",
 'Red Tape',
 'Roadster']

In [82]:
Products_description

['OGIY RETRO SHOES HIGH PREMIUM QUALITY Sneakers For Men',
 'OGIY RETRO SHOES HIGH PREMIUM QUALITY Sneakers For Men',
 'Rungryp Sneakers For Men',
 'CR-1 Sneakers For Men',
 'BLACK SHOES PREMIUM QUALITY MEN Sneakers Casuals (Black...',
 "Men's Latest Casual Slip-on Sneaker Shoes Sneakers For ...",
 'Sneakers For Men',
 'OG-D3 Sneakers For Men',
 'OGIY RETRO SHOES HIGH PREMIUM QUALITY Sneakers For Men',
 'Sneakers For Men',
 'Casual Sneakers For Men',
 'Fashion and Stylish Soft Ultralight Lace Up Sneakers Ca...',
 "Xtoon comfortable casual shoes for men's Sneakers For M...",
 'Sneakers For Men',
 'Lightweight,Comfort,Summer,Trendy,Walking,Outdoor,Styli...',
 'OG-D2 Sneakers For Men',
 'Puma Rungryp Sneakers For Men',
 'Casual Colour Blocked Sneakers For Men',
 'Buzz Sneakers For Men',
 'JOOTIYAPA PREMIUM TRENDY SPORTS SHOES FOR MEN Sneakers ...',
 'Sneakers For Men',
 'casual synthetic leather shoe for mens Sneakers For Men',
 'Casual Sneaker Shoes for Men | Shock Absorbant, Slip Re...',
 'Sneakers For Women',
 'SL 111 | Stylish, Comfortable | Sneakers For Women',
 'Lightweight,Comfort,Summer,Trendy,Walking,Outdoor,Styli...',
 "Men's Stylish and Comfortable Slip-Ons Sneakers For Men",
 'Sneakers For Women',
 'Trendy Comfortable Shoe Sneakers For Men',
 'SM 734 | Stylish, Comfortable | Sneakers For Men',
 'Sneakers For Men',
 'Women Sneakers Casual Shoes Sneakers For Women',
 'Stylish Sneakers Shoes for Women And Girls Sneakers For...',
 'Sneakers For Men',
 'Sneakers For Men',
 "Men's Ultraforce Mid-top Athletic-Inspired Retro Fashio...",
 'Sneakers for men(black_8) Sneakers For Men',
 'Sneakers For Men',
 'OGIY RETRO SHOES HIGH PREMIUM QUALITY Sneakers For Men',
 'OGIY RETRO SHOES HIGH PREMIUM QUALITY Sneakers For Men',
 'Rungryp Sneakers For Men',
 'CR-1 Sneakers For Men',
 'BLACK SHOES PREMIUM QUALITY MEN Sneakers Casuals (Black...',
 "Men's Latest Casual Slip-on Sneaker Shoes Sneakers For ...",
 'OGIY RETRO SHOES HIGH PREMIUM QUALITY Sneakers For Men',
 'OG-D3 Sneakers For Men',
 'Sneakers For Men',
 'Fashion and Stylish Soft Ultralight Lace Up Sneakers Ca...',
 'Casual Sneakers For Men',
 "Xtoon comfortable casual shoes for men's Sneakers For M...",
 'Sneakers For Men',
 'Sneakers For Men',
 'Lightweight,Comfort,Summer,Trendy,Walking,Outdoor,Styli...',
 'OG-D2 Sneakers For Men',
 'Puma Rungryp Sneakers For Men',
 'Casual Colour Blocked Sneakers For Men']

In [83]:
Prices

['₹547',
 '₹536',
 '₹1,880',
 '₹2,350',
 '₹354',
 '₹690',
 '₹1,299',
 '₹825',
 '₹1,169',
 '₹1,349',
 '₹718',
 '₹499',
 '₹625',
 '₹2,210',
 '₹1,110',
 '₹2,115',
 '₹544',
 '₹399',
 '₹1,349',
 '₹1,403',
 '₹449',
 '₹499',
 '₹736',
 '₹1,474',
 '₹651',
 '₹1,299',
 '₹449',
 '₹499',
 '₹1,814',
 '₹1,515',
 '₹442',
 '₹1,349',
 '₹1,299',
 '₹737',
 '₹849',
 '₹980',
 '₹2,350',
 '₹737',
 '₹899',
 '₹625',
 '₹499',
 '₹699',
 '₹619',
 '₹1,299',
 '₹449',
 '₹825',
 '₹387',
 '₹533',
 '₹895',
 '₹657',
 '₹449',
 '₹449',
 '₹399',
 '₹927',
 '₹269',
 '₹1,409',
 '₹639',
 '₹505',
 '₹999',
 '₹764',
 '₹489',
 '₹449',
 '₹2,474',
 '₹721',
 '₹576',
 '₹2,820',
 '₹649',
 '₹1,775',
 '₹825',
 '₹668',
 '₹649',
 '₹699',
 '₹699',
 '₹1,409',
 '₹775',
 '₹1,199',
 '₹699',
 '₹569',
 '₹699',
 '₹1,299',
 '₹547',
 '₹536',
 '₹1,880',
 '₹2,350',
 '₹354',
 '₹690',
 '₹1,299',
 '₹825',
 '₹1,169',
 '₹1,349',
 '₹718',
 '₹544',
 '₹625',
 '₹2,210',
 '₹1,110',
 '₹2,115',
 '₹399',
 '₹449',
 '₹1,349',
 '₹1,403']

## Q5: Scrape the details of laptop from amazon.

In [84]:
!pip install selenium
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

Requirement already satisfied: selenium in /Users/pratikajain/anaconda3/lib/python3.10/site-packages (4.17.2)
Requirement already satisfied: typing_extensions>=4.9.0 in /Users/pratikajain/anaconda3/lib/python3.10/site-packages (from selenium) (4.9.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in /Users/pratikajain/anaconda3/lib/python3.10/site-packages (from selenium) (1.26.14)
Requirement already satisfied: trio-websocket~=0.9 in /Users/pratikajain/anaconda3/lib/python3.10/site-packages (from selenium) (0.11.1)
Requirement already satisfied: trio~=0.17 in /Users/pratikajain/anaconda3/lib/python3.10/site-packages (from selenium) (0.24.0)
Requirement already satisfied: certifi>=2021.10.8 in /Users/pratikajain/anaconda3/lib/python3.10/site-packages (from selenium) (2022.12.7)
Requirement already satisfied: sniffio>=1.3.0 in /Users/pratikajain/anaconda3/lib/python3.10/site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: idna in /Users/pratikajain/anaconda3/lib/python3.10/site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: sortedcontainers in /Users/pratikajain/anaconda3/lib/python3.10/site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: outcome in /Users/pratikajain/anaconda3/lib/python3.10/site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: exceptiongroup in /Users/pratikajain/anaconda3/lib/python3.10/site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=20.1.0 in /Users/pratikajain/anaconda3/lib/python3.10/site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: wsproto>=0.14 in /Users/pratikajain/anaconda3/lib/python3.10/site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in /Users/pratikajain/anaconda3/lib/python3.10/site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in /Users/pratikajain/anaconda3/lib/python3.10/site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [85]:
driver = webdriver.Chrome()

In [86]:
driver.get("https://www.amazon.in")

In [87]:
Product = driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
Product.send_keys('Laptop')

In [88]:
search= driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search.click()

In [90]:
CPU_filter=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div[2]/div/div[3]/span/div[1]/span/div/div/div[6]/ul[2]/span/span[8]/li/span/a/div/label/i')
CPU_filter.click()

In [91]:
Titles=[]
Ratings=[]
Prices=[]

In [92]:
title_tag=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in title_tag:
    title=i.text
    Titles.append(title)

rating_tag=driver.find_elements(By.XPATH,'//i[@class="a-icon a-icon-star-small a-star-small-4 aok-align-bottom"]')
for i in rating_tag:
    rating=i.text
    Ratings.append(rating)
                            
prices_tag=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in prices_tag:
    price=i.text
    Prices.append(price)

In [93]:
print(len(Titles),len(Ratings),len(Prices))

25 12 25

In [94]:
Titles=Titles[:10]
Ratings=Ratings[:10]
Prices=Prices[:10]

In [95]:
df = pd.DataFrame({"Titles":Titles,"Ratings":Ratings,"Prices":Prices})
df

                                              Titles Ratings  Prices
0  HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...          76,990
1  Acer Aspire Lite 12th Gen Intel Core i7-1255U ...          52,990
2  HP Laptop 15s, 12th Gen Intel Core i7-1255U, 1...          65,990
3  Probus Dual Tone Laptop Slim Sleeve Bag for 13...           1,399
4  ASUS Vivobook 15, 15.6" (39.62cm) FHD, Intel C...          64,990
5  Acer Travelmate Business Laptop Intel Core i7-...          44,990
6  Dell [Smartchoice] Inspiron 5430 Thin & Light ...          80,990
7  Dell Inspiron 3530 Laptop, 13th Generation Int...          69,919
8  MSI Thin 15, Intel 13th Gen. Core i7-13620H, 4...          74,990
9  Lenovo IdeaPad Slim 3 Intel Core i7 12th Gen 1...          59,990

## Q6: Write a python program to scrape data for Top 1000 Quotes of All Time

In [96]:
!pip install selenium
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

Requirement already satisfied: selenium in /Users/pratikajain/anaconda3/lib/python3.10/site-packages (4.17.2)
Requirement already satisfied: trio-websocket~=0.9 in /Users/pratikajain/anaconda3/lib/python3.10/site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in /Users/pratikajain/anaconda3/lib/python3.10/site-packages (from selenium) (2022.12.7)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in /Users/pratikajain/anaconda3/lib/python3.10/site-packages (from selenium) (1.26.14)
Requirement already satisfied: typing_extensions>=4.9.0 in /Users/pratikajain/anaconda3/lib/python3.10/site-packages (from selenium) (4.9.0)
Requirement already satisfied: trio~=0.17 in /Users/pratikajain/anaconda3/lib/python3.10/site-packages (from selenium) (0.24.0)
Requirement already satisfied: exceptiongroup in /Users/pratikajain/anaconda3/lib/python3.10/site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in /Users/pratikajain/anaconda3/lib/python3.10/site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: sortedcontainers in /Users/pratikajain/anaconda3/lib/python3.10/site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: attrs>=20.1.0 in /Users/pratikajain/anaconda3/lib/python3.10/site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: outcome in /Users/pratikajain/anaconda3/lib/python3.10/site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in /Users/pratikajain/anaconda3/lib/python3.10/site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: wsproto>=0.14 in /Users/pratikajain/anaconda3/lib/python3.10/site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in /Users/pratikajain/anaconda3/lib/python3.10/site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in /Users/pratikajain/anaconda3/lib/python3.10/site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [97]:
driver = webdriver.Chrome()

In [98]:
driver.get("https://www.azquotes.com/")

In [99]:
Top_quotes=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')
Top_quotes.click()

In [100]:
Quotes=[]
Authors=[]
Types=[]

In [101]:
quote_tag=driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in quote_tag:
    quote=i.text
    Quotes.append(quote)

author_tag=driver.find_elements(By.XPATH,'//div[@class="author"]//a')
for i in author_tag:
    author=i.text
    Authors.append(author)
                            
types_tag=driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in types_tag:
    types=i.text
    Types.append(types)

In [102]:
print(len(Quotes),len(Authors),len(Types))

100 100 100

In [103]:
df = pd.DataFrame({"Quotes":Quotes,"Authors":Authors,"Type of Quote":Types})
df

,Quotes,Authors,Type of Quote
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
95,"When the going gets weird, the weird turn pro.",Hunter S. Thompson,"Music, Sports, Hunting"
96,When a train goes through a tunnel and it gets...,Corrie Ten Boom,"Trust, Encouraging, Uplifting"
97,If you think you are too small to make a diffe...,Dalai Lama,"Inspirational, Funny, Change"
98,"God doesn't require us to succeed, he only req...",Mother Teresa,"Success, God, Mother"
99,Change your thoughts and you change your world.,Norman Vincent Peale,"Inspirational, Motivational, Change"